In [4]:
#11.1 and 2 
import zoo
zoo.hours()

Open 9-5 daily

In [6]:
#11.2 import zoo as menagerie
menagerie.hours()

Open 9-5 daily

In [ ]:
#16.8
import sqlalchemy

conn = sqlalchemy.create_engine('sqlite:///books.db') #links the database

sql = 'select a title using title ASC from the book order'

rows = conn.execute(sql) #activates the SQL

for row in rows:
    print(row)